<div class="nav-bar">
  <div>SISTEMA DE TRANSPORTE</div>
</div>

<div class="formularioRegistro">
  <div class="titulo">
    <h2>REGISTRAR CONDUCTOR</h2>
  </div>
  <form [formGroup]="conductorForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label class="texto"><i class="bi bi-person-circle"></i> Nombre</label>
      <input type="text" name="nombre" id="nombre" formControlName="nombre" class="form-control" />
      <div *ngIf="conductorForm.get('nombre')?.touched && conductorForm.get('nombre')?.invalid" >
        <small class="text-danger" *ngIf="conductorForm.get('nombre')?.hasError('required')" >
          El nombre es obligatorio.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="texto"><i class="bi bi-person-circle"></i> Apellido</label>
      <input type="text" name="apellido" id="apellido" formControlName="apellido" class="form-control" />
      <div *ngIf=" conductorForm.get('apellido')?.touched && conductorForm.get('apellido')?.invalid " >
        <small class="text-danger" *ngIf="conductorForm.get('apellido')?.hasError('required')" >
          El apellido es obligatorio.
        </small>
      </div>
    </div>

    <div class="form-group">
      <label class="texto"><i class="bi bi-calendar"></i> Identificación</label>
      <input type="text" name="identificacion" id="identificacion" formControlName="identificacion" class="form-control" />
      <div *ngIf=" conductorForm.get('identificacion')?.touched && conductorForm.get('identificacion')?.invalid " >
        <small class="text-danger" *ngIf="conductorForm.get('identificacion')?.hasError('required')" >
          La identificación es obligatoria.
        </small>        
      </div>
    </div>

    <div class="form-group">
      <label class="texto"><i class="bi bi-phone"></i> Teléfono</label>
      <input type="text" name="telefono" id="telefono" formControlName="telefono" class="form-control" />
      <div *ngIf=" conductorForm.get('telefono')?.touched && conductorForm.get('telefono')?.invalid " >
        <small class="text-danger" *ngIf="conductorForm.get('telefono')?.hasError('required')" >
          El teléfono es obligatorio.
        </small>
        <small class="text-danger" *ngIf="conductorForm.get('telefono')?.hasError('minlength')" >
          El teléfono debe tener al menos 10 dígitos.
        </small>
        <small class="text-danger" *ngIf="conductorForm.get('telefono')?.hasError('maxlength')" >
          El teléfono no puede tener más de 10 dígitos.
        </small>
        <small class="text-danger" *ngIf="conductorForm.get('telefono')?.hasError('pattern')" >
          El teléfono solo puede contener números.
        </small>
      </div>
    </div>

    <div class="boton">
      <button class="btn btn-primary btn-guardar" type="submit" (click)="openModal()" [disabled]="conductorForm.invalid" >
        G U A R D A R
      </button>
    </div>
  </form>

  <button class="btn btn-primary btn-guardar" (click)="irAListadoConductores()">
    Ver Listado de Conductores
  </button>
</div>



<div *ngIf="isModalVisible" class="modal fade" id="successModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        El usuario ha sido registrado correctamente.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<router-outlet />
